{% extends 'base.html.twig' %}

{% block title %}Tous les biens{% endblock %}

{% block body %}
    
    <p class="titre">{% block titre %}Explorez les annonces{% endblock %}</p>

    <section>

        <article class="containerCard">

        {% for properties in property %}

            <div class="card">
            
                <img src="{{ asset('img/' ~ properties.pictures )}}">
                <div class="titleCard">{{ properties.title }}</div>
                <ul>
                    <li>Prix : {{ properties.price }}€</li>
                    <li>Ville : {{ properties.city }}</li>
                    <li>{{ properties.category.title }} - {{ properties.type.title }}</li>
                </ul>
                <p class="metadata">Posté le {{ properties.createdAt | date('d/m/Y') }} à {{ properties.createdAt | date('H:i')}}</p>
                <div class="showProperty"><a href="{{ path('property_show', {'id': properties.id}) }}">Voir l'annonces</a></div>
            </div>

        {% endfor %}

        </article>

    </section>

{% endblock %}
