{% extends 'base.html.twig' %}

{% block title %}Détail de l'annonce{% endblock %}

{% block body %}
    
    <p class="titre">{% block titre %}Détail de l'annonce{% endblock %}</p>

    <section>

        <article class="containerShow">
            <div class="containerPicture">
                <img src="{{ asset('img/' ~ property.pictures )}}" class="pictureShow">
            </div>
            <div class="contentShow">
                <div class="cardShow">
                    <h2>{{ property.title }}</h2>
                    <ul>
                        <li>Nombre de pièce(s) : {{ property.rooms }}</li>
                        <li>Surface : {{ property.surface }}</li>
                        <li>Ville : {{ property.city }}</li>
                        <li>Adresse : {{ property.address }}</li>
                    </ul>
                    <h2>Prix : {{ property.price }} €</h2>
                    <ul>
                        <li>Catégorie : {{ property.category.title }}</li>
                        <li>Type : {{ property.type.title }}</li>
                    </ul>
                    <p>Posté le {{ property.createdAt | date('d/m/Y') }} à {{ property.createdAt | date('H:i')}} par {{ property.author.username }}</p>
                    <p>Description : {{ property.description | raw }}</p>
                </div>

                <div class="showContact">
                    <p><i class="far fa-address-card"></i> {{property.author.firstname}} {{property.author.lastname}}</p>
                    <p><i class="fas fa-at"></i> {{property.author.email}}</p>
                    <p><i class="fas fa-phone-alt"></i> {{property.author.phone}}</p>
                </div>
                <button id="b2">Coordonnés du vendeur</button>
            </div>


        </article>
        
    </section>

{% endblock %}