{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <h1>
    {% block titre %}
        {% if isModification %}
            Modification de {#{{properties.nom}}#}
        {% else %}
            Ajout d'une annonce
        {% endif %}
    {% endblock %}</h1>

    <div class="containerCreate">
        {{ form_start(form) }}


                <div class="formCreate">
                    <div class="formTitle">
                        {{form_label(form.title, 'Titre')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.title, {'attr':{'placeholder': "Titre de l'annonce"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.surface, 'Surface au m2')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.surface, {'attr':{'placeholder': "Surface"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.rooms, 'Nombre de pièces')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.rooms, {'attr':{'placeholder': "Nombre de pièces"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.description, 'Description de l\'annonce')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.description, {'attr':{'placeholder': "Description de l\'annonce"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.price, 'Prix')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.price, {'attr':{'placeholder': "Prix"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.city, 'Ville')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.city, {'attr':{'placeholder': "Ville"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.address, 'Adresse')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.address, {'attr':{'placeholder': "Adresse"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}

                    <div class="formTitle">
                        {{form_label(form.imageFile, 'Photo')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.imageFile, {'attr':{'placeholder': "Photo"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}
                
                    <div class="formTitle">
                        {{form_label(form.category, 'Catégorie')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.category, {'attr':{'placeholder': "Photo"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}
                    <div class="formTitle">
                        {{form_label(form.type, 'Type')}}
                    </div>
                    <div class="formWidget">
                        {{form_widget(form.type, {'attr':{'placeholder': "Type"}})}}
                    </div>
                    {#{{form_error(form.title)}}#}
                </div>
                
                <input type="submit" class="btn-create" value="Enregistrer"/>

        {{ form_end(form) }}
    </div>

{% endblock %}
